*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;
  }
  .grid {
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 95%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px; 
  }
  .header{
    background:  #17202a
    ;
    height: 300px;
  }
  
   .logo{
       grid-column: 1/6;
       height: 233px;
       width:230px;
       border-radius: 381px;
        margin-top: 36px;
  
   }
  .nuevo-contenerdor-nav {
    display: flex;
    margin-left: 323px;
    
    
    
  }
  .nuevo-nav-enlace{
    color: white;
    display: inline;
    text-align: center;
    text-align: end;
    margin-left: 15px;
    font-size: 25px;
    text-decoration: none;
    
    
    
  }
  .nuevo-nav-enlace:hover{
    cursor: pointer;
    text-decoration: underline;
    color: yellow;
  }